.topnav {
  overflow: hidden;
  background-color: #0f6846;
}

.topnav a {
  float: left;
  display: block;
  color: #f8fce7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.active {
  color: #0f6846;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.responsive{
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px)
.jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
}


ul {
   font-size: larger;
   font-weight: bold;

}

.jumbotron-custom {
   background-color: transparent!important;
   color:#ff0000!important;
}


.jumbotron-custom button{
   align-self: middle;
}

.btn{
    color:#ff0000!important;
    border-color: #ff0000!important;
    background-color: #0f6846;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-thumbnail{
    margin-bottom: 10px;
}

.monkees{
    font-size: 100px!important;
    margin-left: 30px!important;
}

.footer {padding-top: 5px;
            background-color: transparent;
            text-align: center;
            height: 100px;
            color: #195084;
            border-radius: 5px;

}

.panel {
   background-color: #0f6846!important;

}

.panel-default>.panel-heading{
   background-color: #990404!important;
   color: #f8fce7!important;
}

 body{
         font-family: 'Ultra'!important;
         font-size: 16px!important;
         color: #f8fce7!important;
         background-color: #f8fce7!important;
      }

      h1{
         color:#a53931;
         font-weight: bold;

      }

      .faq{
        color:#f8fce7!important;
        font-family: 'Ultra'!important;
        font-size: 16px!important;
        color: #f8fce7!important;
      }
         #container{
            width: 450px;
            margin: 20px;
            align-self:center; 
         }

         #box{
            background-color: #0f6846;
            border-radius: 5px;
         }
         #input_types{
             background-color:#0f6846;
         }
         .submit{
            margin-top: 15px;
            margin-bottom: 10px;
            align-self: right;
            background-color: #EFD219;
            width: 100px;

         }
         legend{
            font-size: 100px;
            background-color: #339999;
            border-radius: 5px;
            border: 1px solid #999;
            padding: 4px 15px;
         }
            
         label.field{
            display: block;
            text-align: right;
            width: 100px;
            float: left;
         }
         input{
            display: inline-block;
            display: inline-block;
            margin-left: 70px;
            margin-right: 5px;
            width: 90px;
            border-radius: 5px;
            padding: 6px 8px; 
            margin-top: 6px;   
         }
         .field{
            padding: 6px 8px;
         }
         #currency{
             width: 220px;
             border-radius: 5px;
             padding: 6px 8px;
         }
         fieldset{
            width: 450px;
            border: 1px solid #999;
            border-radius: 20px;
            clear: both;
            padding: 20px;
            margin-bottom: 100px;
            background-color:rgba(129, 187, 201,.2);
         }
   
      form{
        width: 350px;
        height: 700px;
      }

      .booking{
        margin-left: 30px;
        margin-right: 10px;
      }

      .btn-default{
        background-color:  #f8fce7!important;
      }

         #container{
            width: 500px;
            margin: 20px;
         }

         #input_types{
             background-color:#0f6846;
             border-radius: 5px;
             margin-bottom: 10px;
             width: 500px;
             text-align: center;
         }

         .label{
            display: inline-block;
            margin-left: 150px;
            float: center;
            clear: center;
            text-align: center;
            width: 1000px;
            margin-top: 10px;
            color: #EFD219;
            font-size: 30px;
         }
         .form-control{
            width:130%!important;
            margin-left: 20px;
         }