<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Music</title>
    <link rel='stylesheet' type='text/css' href='../css/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
   <nav class="navbar navbar-expand-md navbar-inverse navbar-custom">
  <div class="container-fluid">
    <ul id="myCollapsingList" class="nav navbar-nav">
      <li class="active"><a href="../../index.html">Home</a></li>
      <li><a href="../templates/music.html">New Music</a></li>
      <li><a href="../templates/faq.html">F.A.Q.</a></li>
      <li><a href="../templates/reservations.html">Contact Us</a></li>
    </ul>
  </div>
</nav>
       <div class ="container">
        <div class="jumbotron jumbotron-custom">
            <div class="container">
            <div class="row">
                <div class="col-md-6">
            <h1>The Monkees</h1>
            <a href="../templates/reservations.html">
            <button type="submit" class="btn btn-primary">Book Your Wedding Date Now!</button> </a>
                </div>
                <div class="col-md-6">
            <img src="../assets/images/cover3.jpg">
                </div>
            </div>  
            </div> 
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                <h1>Stepping Stone</h1>
                <img src="../assets/images/cover1.jpg">
                <audio controls= "controls">
                    <source src="../assets/audio/SteppingStone.mp3" type="audio/mpeg; codecs=mp3"/>
                </audio>
            </div>
            <div class='col-md-6'>
                <h1>Im A Believer</h1>
                <img src="../assets/images/cover1.jpg">
                <audio controls= "controls">
                    <source src="../assets/audio/ImABeliever.mp3" type="audio/mpeg; codecs=mp3"/>
                </audio>
            </div>
            <div class='col-md-6'>
                <h1>Daydream Believer</h1>
                <img src="../assets/images/cover1.jpg">
                <audio controls= "controls" style="align-self: left;">
                    <source src="../assets/audio/DaydreamBeliever.mp3" type="audio/mpeg; codecs=mp3"/>
                </audio>
            </div>
            <div class='col-md-6'>
                <h1>Clarksville</h1>
                <img src="../assets/images/cover1.jpg">
                <audio controls= "controls">
                    <source src="../assets/audio/Clarksville.mp3" type="audio/mpeg; codecs=mp3"/>
                </audio>
            </div>
        </div>
    </div>

    <footer class="footer">
    <div class="container">
        <h2>Copyright</h2>
    </div>
        </footer>
<script type="text/javascript" src="../js/script.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</body>